@use "../util/" as u;
@use "../globals/" as g;


.badge{
    padding: 0.15rem 0.75rem;
    border-radius: 0.1rem solid g.$clr-success-dark ;
    background-color: g.$clr-success;
    font-size: 1.3rem;
    border-radius: 0.2rem;
    color:black;
    font-weight: bold;

&--danger{
    border-color: g.$clr-danger-dark;
    background-color: g.$clr-danger;
    color:white;
}
&--warning{
    border-color: g.$clr-warning-dark;
    background-color: g.$clr-warning;

}


}