@use "../util/" as u;
@use "../globals/" as g;

// File upload component
.file__input {
  &__item {
    margin-top: 1rem;
    flex-direction: column;
    height: fit-content;
    &.show-uri {
         .button {
          border-bottom-right-radius: unset;
          border-bottom-left-radius: unset;
         }
      > .file__input__uri {
        display: flex;
      }

    }


  }
  &__group {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    input[type="file"] {
      font-size: 10rem;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    & > .button {
      max-width: 28rem;
      max-height: 44.5px;
      width: 28rem;
      height: 44.5px;
    }
    &.icon_only{
       & > .button{
        width: unset;
        height: unset;
       }
    }
  }
  &__uri {
    display: none;
    align-items: center;
    padding: 0.5rem;
    height: 44.5px;
    width: 28rem;
    font-size: 1.2rem;
    background-color: g.$clr-bg-light;
    border: var(--border);
    border-radius: var(--br);
    border-top-left-radius: unset;
    border-top-right-radius: unset;
  }
}
