@use "../util/" as u;
@use "../globals/" as g;

.image__input {
  &__group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    max-width: 20rem;
    max-height: 20rem;
    cursor: pointer;
    position: relative;
     &.profile-image{
      
        
      .button{
        border-style: solid;
        border-width: 0.3rem;
        border-radius: 50%;
        padding: 0;
      }
      .image__input__placeholder{
        padding: 0;
        border-radius: 50%;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .image__input__button{
        top:-1rem;
        right: -1rem;
      }
     }

    input[type="file"] {
      font-size: 10rem;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    .button {
      position: relative;
      width: 100%;
      height: 100%;
      border: 0.5rem dashed #49566e;
      border-radius: 2rem ;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }



  &__placeholder {
    padding: 1rem;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    object-fit: contain;
  }

  &__button {
    position: absolute;
    top: -3rem;
    right: -3rem;
    width: 7rem;
    height: 7rem;
    padding: 1rem;
    object-fit: contain;
  }
}


