@use "../util/" as u;
@use "../globals/" as g;

// Input component
.input {
    &__item{
      display:flex;
      height:fit-content;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-top: 1rem;
    }
    &__group {
      position: relative;
      width:28rem;
      @include u.breakpoint(md) {
       width: 30rem;
       }
    }
     &__label {
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-150%) scale(0.9);
      display: block;
      transition: all 0.2s ease-in-out;
      background-color: var(--clr-light);
      padding: 0 0.5rem;
      font-size: var(--fs);
      color: g.$clr-primary;
    }
    &__span {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      font-size: var(--fs);
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;
      color: g.$clr-bg-dark;
      cursor: pointer;
    }
&__error {
  font-size: 1.3rem;
  color: g.$clr-danger;
  text-align: left;
  min-width: 28rem;  // ✅ forces wrapping after 60rem
  max-width: 30rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}


    font-family: inherit;
    width: 100%;
    border: var(--border);
    border-radius: var(--br);
    outline: 0;
    line-height: var(--lh);
    font-size: var(--fs);
    color: var(--clr-bg-dark);
    padding: 1rem 3rem 1rem 1rem;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .input__label {
      transform: translateY(-50%) scale(1);
      color: g.$clr-bg-dark;
    }
    &:focus {
      background-color: var(--clr-light) !important;
    }
    &:focus,
    &[aria-expanded="true"] {
      ~ .input__label {
        display: block;
        transform: translateY(-150%) scale(0.9);
        color: g.$clr-primary;
        transition: 0.2s;
      }
      ~ .input__span {
        color: g.$clr-primary;
      }
      border-color: g.$clr-primary;
    }
  
    &:required,
    &:invalid {
      box-shadow: none;
    }
  
  }

