/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

/* Remove default list styles for ul and ol */
ul,
ol {
  list-style: none; /* Removes bullets/numbers */
  font-size: 1.5rem;
}

/* Ensure lists with role="list" also have no style */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
  margin: 0;
}
