@use "../util/" as u;
@use "../globals/" as g;
input[type="radio"] {
  display: none;

  & + label {
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
    gap: 1rem;
    font-size: var(--fs);
    text-wrap: nowrap;
    &:before {
      content: "\2714";
      border:var(--border);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
      @include u.breakpoint(md) {
        width: 2.8rem;
        height: 2.8rem;
      }

      @include u.breakpoint(md) {
        width: 2.5rem;
        height: 2.5rem;
      }
      padding: 0.5rem;
      color: transparent;
      transition: 0.2s;
    }
    &:active:before {
      transform: scale(0);
    }
  }

  &:checked + label:before {
    background-color: g.$clr-primary;
    color: #fff;
    border-color: g.$clr-primary-dark;
  }

  &:disabled + label:before {
    transform: scale(1);
  }
  &:checked:disabled + label:before {
    transform: scale(1);
    background-color: g.$clr-primary-light;
    border-color: g.$clr-primary-light;
  }
}
