@use "../util/" as u;
@use "../globals/" as g;

// Select component
.select {
  &,
  & * {
    margin: 0;
    padding: 0;
    position: relative;
  }
  position: relative;
  background-color: var(--clr-light);
  border-radius: var(--br);
  max-height: 5rem;

  select {
    font-size: var(--fs);
    font-weight: normal;
    max-width: 100%;
    min-width: 10rem;
    color: var(--clr-font);
    height: 44.5px;
    padding: 0.8rem 1.6rem;
    padding-right: 2.8rem;
    border: var(--border);
    border-radius: var(--br);
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline-color: g.$clr-primary;
    width: 28rem;
    width: 28rem;
    @include u.breakpoint(md) {
      width: 30rem;
    }

    &:active {
      outline: none;
      box-shadow: none;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0.8rem;
    width: 0;
    height: 0;
    margin-top: -0.2rem;
    border-top: 0.7rem solid g.$clr-primary;
    border-right: 0.7rem solid transparent;
    border-left: 0.7rem solid transparent;
  }

  &:hover {
    background-color: g.$clr-bg-light;
  }
  &__input {
    margin-top: 1rem;
    display: flex;
    font-size: var(--fs);
    flex-direction: column;
    & > .input__error {
      @include u.breakpoint(md) {
        max-width: 60rem;
      }
    }
  }
  &__group {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;

    @include u.breakpoint(md) {
      flex-direction: row;
    }
  }
}
