@use "../util/" as u;
@use "../globals/" as g;

/*------------------------------------------------------------------------------*/
/* LOADING CIRCLE ANIMATION */
/*------------------------------------------------------------------------------*/

@keyframes animateLoadingCircle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
    transform-origin: left;
  }
  50.01% {
    transform: scale(0);
    transform-origin: right;
  }
  100% {
    transform: scale(1);
    transform-origin: right;
  }
}

/*------------------------------------------------------------------------------*/
/* ROTATION LOADING ANIMATION */
/*------------------------------------------------------------------------------*/

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
