@use "../util/" as u;
@use "variables" as v;

// =========================
// HTML & GLOBAL RESET
// =========================
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow: scroll;

  /* Hide scrollbars */
  // &::-webkit-scrollbar {
  //   display: none;
  // }

  // scrollbar-width: none; // Firefox
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font: inherit;
}

// =========================
// SELECTION
// =========================
::selection {
  background-color: v.$clr-bg-dark;
  color: var(--clr-light);
}

// =========================
// SCROLLBAR (visible)
// =========================
::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: v.$clr-bg-light;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: v.$clr-bg;
  border-radius: 4px;
  &:hover {
    background: darken(v.$clr-bg, 10%);
  }
}

// =========================
// BODY
// =========================
body {
  min-height: 100vh;
  font-family: var(--ff);
  font-size: var(--fs-body);
  line-height: var(--lh);
  color: var(--clr-font);
  background-color: var(--clr-light);
  text-rendering: optimizeLegibility;
}

// =========================
// ACCESSIBILITY
// =========================
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  z-index: -1;
}
