@use "../util/" as u;
@use "variables" as v;

@mixin heading($size, $size-sm) {
  font-size: $size;
  color: v.$clr-font;
  text-transform: uppercase;

  @include u.breakpoint(sm) {
    font-size: $size-sm;
  }
}

h1 { @include heading(var(--fs-h1), 2rem); }
h2 { @include heading(var(--fs-h2), 1.8rem); }
h3 { @include heading(var(--fs-h3), 1.6rem); }

p {
  font-size: 1.5rem;
}
