@use "../util/" as u;
@use "../globals/" as g;

.accordion {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-inline: 0.5rem;
  border-radius: var(--br);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 0.5rem;
    gap: 1rem;
    font-size: var(--fs);
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s ease-in-out;
    background-color: g.$clr-bg-light;
    cursor: pointer;
    &__details{
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
    }
  }

  &__trigger {
    width: 3.6rem;
    height: 3.6rem;
    position: relative;
    border-radius: 50%;
    transition: color 0.3s ease-in-out;
    cursor: pointer;

    span {
      position: absolute;
      inset: 0;
      margin: auto;
      width: 0.2rem;
      height: 3rem;
      background-color: g.$clr-bg-dark;
      border-radius: 40rem;
      transition: transform 0.3s ease-in-out;
      transform-origin: center;

      &:nth-of-type(1) {
        transform: rotate(0deg);
      }
      &:nth-of-type(2) {
        transform: rotate(90deg);
        transition-delay: 0.3s;
      }
    }
  }


  
  &__panel {
    width: 100%;
    background-color: var(--clr-light);
    border: var(--border);
    border-radius: var(--br);
    transition: all 0.5s ease-in-out;
     box-shadow: var( --div-shadow);
    &:not(:first-child) {
      margin-top: 1rem;
    }

    &.open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
 
      .accordion__header {
        border-bottom: var(--border);
      }

      .accordion__content {
        max-height: 30rem;
        border-radius: unset;
      
      }

      .accordion__trigger span {
 
        &:nth-of-type(1) {
          transform: rotate(45deg);
        }
        &:nth-of-type(2) {
          transform: rotate(135deg);
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    background-color: var(--clr-light);
    border-radius: var(--br);
    transition: all 0.5s ease-in-out;
    max-height: 0;
    overflow-y: auto;
    scrollbar-gutter: stable;
    p {
      margin: 1rem;
    }
  }
}