@use "../util/" as u;
@use "../globals/" as g;

.combobox__group {
  display: flex;
  max-width: fit-content;
  align-self: center;
  flex-direction: column;
  overflow: visible;

  // Adjust alignment for medium screens
  @include u.breakpoint(md) {
    align-self: unset;
  }

  // Listbox styling
  ul[role="listbox"] {
    display: none;
  }
}

// Input group styling
.combobox__input {
  display: inline-flex;
  cursor: pointer;
  .input__group {
    max-width: 26rem; // Limit input group width
  }
  input {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-right: none; // Remove right border for seamless integration with button
  }
  // Button styling
  button {
    width: 2rem;
    background-color: var(--clr-light);
    border: var(--border);
    border-radius: var(--br);
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    border-left: none; // Remove left border for seamless integration with input
    outline: none;
    transition: all 0.2s ease-in-out;
    color: var(--clr-bg);
    font-size: 1.8rem;

    // Icon styling
    i {
      transition: transform 0.2s ease-in-out;
    }

    // Expanded state (when listbox is open)
    &[aria-expanded="true"] {
      border-color: g.$clr-primary;
      color: var(--clr-primary);

      i {
        transform: rotate(180deg) translate(0, -3px); // Rotate icon
      }
    }
  }
}

.combobox__list {
  position: absolute;
  padding: 0.25rem;
  list-style: none;
  background-color: var(--clr-light);
  display: flex;
  border: var(--border);
  min-width: 28rem;
  max-width: 30rem;
  max-height: 28rem;
  overflow-y: auto; // Enable vertical scrolling
  font-size: 1.4rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: var(--br);
  box-shadow: var(--div-shadow);
  z-index: -1;
  visibility: hidden;
  max-height: fit-content;
  transition:
    left 0.3s ease-in-out,
    right 0.3s ease-in-out;
  &.show {
    z-index: 9999;
    visibility: visible;
  }

  // List item styling
  li {
    border-radius: var(--br);
    min-width: 100%;
    width: fit-content;
    text-align: center;
    display: flex;
    justify-content: space-between;
  
    // Hover and active states
    &:hover,
    &.active {
      background-color: g.$clr-primary;
      color: var(--clr-light);
    }

    // Hide specific items
    &.hide {
      display: none;
    }

    & > div {
      flex: 1;
      padding: 0.5rem 1rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      &:first-of-type {
        justify-content: flex-start;
      }
      &:not(:last-of-type) {
        border-right: 0.3rem solid var(--clr-light);
        text-wrap: nowrap;
      }
    }
    & > .key {
      display: none;
    }
  }
}
