@use "../util/" as u;
@use "../globals/" as g;

.dialog {
  display: none; // Hidden by default
  position: fixed; // Stay in place
  z-index: 25; // Sit on top
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); // Initial scale for animation
  animation: 0.5s ease-in-out forwards scaleInCenter; // Scale-in animation
  flex-direction: column;
  min-width: 27rem;
  width: 95vw; // Responsive width
  padding: 0.2rem 0.3rem;
  font-family: var(--ff);
  background-color: var(--clr-light);
  border: var(--border);
  border-radius: var(--br); // Consistent border radius
  box-shadow: var(--div-shadow); // Shadow for depth

  // Responsive behavior for medium screens
  @include u.breakpoint(md) {
    width: unset; // Reset width for larger screens
  }

  // Show box when open
  &.open {
    display: flex;
  }

  &__header {
    padding: 1rem 0.5rem;
    font-size: var(--fs);
    border-bottom: var(--border); // Bottom border for separation
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem;
    border-bottom: var(--border); // Bottom border for separation
    font-size: var(--fs); // Consistent font size
  }

  &__footer {
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end; // Align items to the right
    align-items: center;
  }
  &__actions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

  }
}