@forward "nav-desktop";
@forward "nav-phone";
@forward "accordion";
@forward "dialog";
@forward "comboBox";
@forward "errorsNotifications";
@forward "form";
@forward "lang-menu";
@forward "loader";
@forward "modal";
@forward "pagination";
@forward "pagination";
@forward "custom-progress";
@forward "tab";
@forward "table";
@forward "toast";
@forward "tooltip";
@forward "img";