@use "../globals/" as g;
@use "../util/" as u;

// Language selector component
.lang {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  // Language button styling
  &__btn {
    &:focus {
      border-width: 0.2rem;
      border-color: g.$clr-bg; // Focus border color
    }

    & p{
      font-weight: bold;
    }
    & img {
        display: none;
    }
  }

  // Flag image styling
  img {
    height: 1.5rem;
    width: 2.2rem;
    object-fit: cover; // Ensure the image fits within the container
    border: 0.1rem solid g.$clr-primary; // Border for the flag
  }

  // Language menu styling
  &__menu {
    &__container {
      position: relative; // Positioning context for the menu
    }

    display: none; // Hidden by default
    flex-direction: column;
    position: absolute;
    background-color: var(--clr-light); // Menu background color
    color: var(--clr-primary); // Menu text color
    bottom: -6rem; // Position below the button
    left: -1.5rem; // Align with the button
    height: fit-content;
    width: fit-content;
    border-radius: var(--br); // Consistent border radius
    z-index: 1; // Ensure the menu appears above other elements
    box-shadow: var(--div-shadow); // Shadow for depth

    // Show menu when open
    &.open {
      display: flex;
    }

    // Menu item styling
    &__item {
      padding: 0.25rem 0.5rem;
      min-height: 2rem;
      min-width: 5rem;
      // Add a border between items
      &:not(:last-of-type) {
        border-bottom: 0.2rem solid var(--clr-bg);
      }

      // Hover effect for menu items
      &:hover {
        background-color: g.$clr-bg-light; // Light background on hover

        // Rounded corners for the first and last items
        &:first-of-type {
          border-top-right-radius: var(--br);
          border-top-left-radius: var(--br);
        }
        &:last-of-type {
          border-bottom-right-radius: var(--br);
          border-bottom-left-radius: var(--br);
        }
      }
    }
  }
}