@use "../util/" as u;
@use "../globals/" as g;

.loader {
  // Loader animation
  position: relative;
  width: 4rem;
  height: 4rem;
  animation: loading 10s linear infinite;
  margin: auto;


  // Loader circles
  &__circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-primary-dark);
     border-width: 0.2rem;
    border-style: solid;
    border-color:var(--clr-light);
    
    border-radius: 50%;
    animation: animateLoadingCircle 3s linear infinite;

    // Second circle with delay
    &:nth-child(2) {
      background: var(--clr-light);
          border-color:var(--clr-primary-dark);
      animation-delay: -1.5s;
    }
  }

  // Larger loader variant
  &.l {
    width:8rem;
    height: 8rem;
  }

  &.xs{
    width: 2.3rem;
    height: 2.3rem;
  }


  &__container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      to bottom right,
      g.$clr-primary,
      g.$clr-primary-light,
      var(--clr-primary-dark)
    );
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    z-index: -1000;
    opacity: 0;
    transition: all 0.5s;

    // Hide the loader container
    &.show {
       display: flex;
      z-index: 1000;
      opacity: 1;
    }
  }


}
