@use "../util/" as u;
@use "../globals/" as g;

.nav {
  height: 5.6rem;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0.3rem 0.3rem -0.3rem rgba(0, 0, 0, 0.75);
  background-color: var(--clr-light);

  a,a:focus, a:hover{
    text-decoration: none !important;
  }
}

.nav__logo {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus {
    border: 0.1rem solid g.$clr-primary-dark;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.nav__addons {
  height: 100%;
  display: flex;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  .menu__btn {
    transform: rotate(0);
    transition: transform 0.6s ease-in-out;

    &.clicked {
      transform: rotate(360deg);
    }
  }

  i {
    font-size: 2rem;
  }

  img {
    width: 5.5rem;
    height: 5.5rem;
    object-fit: contain;
    border-radius: 50%;
  }
}

.nav__items {
  display: flex;
  gap: 1rem;

  &:first-of-type {
    margin-right: auto;

    .nav__items--sub {
      right: unset;
      left: 0;
    }
  }
}

.nav__items--sub {
    position: absolute;
    top: 5.5rem;
    right: 0;
    background-color: var(--clr-light);
    display: none;
    flex-direction: column;
    width: 25rem;
    z-index: 5;
    border-radius: var(--br);
    box-shadow: var(--div-shadow);
    transition: transform 0.3s ease-in-out;
    max-height: 30rem;
    overflow-y: auto;

    li {
      padding: 0.5rem 1rem;
      height: 5rem;
      min-height: 5rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:first-child {
        border-top-left-radius: var(--br);
        border-top-right-radius: var(--br);
      }

      &:last-child {
        border-bottom-left-radius: var(--br);
        border-bottom-right-radius: var(--br);
      }

      &:hover {
        background-color: g.$clr-bg-light;

      }
      &:focus{
               border: 0.1rem solid   black;
      }

      a {
        width: 100%;
        height: 100%;
        display: flex;
        color: var(--clr-font);
        justify-content: space-around;
        align-items: center;
  
 
        &:focus {
          text-decoration: none;
        }
      }
    }
  }

.nav__item {
  position: relative;
  height: 4.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: var(--br);
  font-size: var(--fs);
  cursor: pointer;
  color: var(--clr-font);

  &:hover {
    background-color: g.$clr-bg-light;
  }

  &.active {
    background-color: g.$clr-primary;

   .nav__link {
      color: var(--clr-light);
    }
  }
  .badge {
    position: absolute;
    top: -0.5rem;
    right: -1rem;
    border-radius: var(--br);
    z-index: 1;
  }
}

.nav__link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  text-align: center;
  border-radius: var(--br);
  color: var(--clr-font);

  &.active {
    background-color: g.$clr-primary;
    color: var(--clr-light);
  }

  &:focus {
    border: 0.1rem solid black;
  }
}

.nav__btn {
  display: inline-flex;
  cursor: pointer;
  outline: transparent;
  height: 100%;
  padding: 0 1rem;
  background-color: inherit;
  width: 100%;
  align-items: center;
  border: var(--border);
  border-radius: var(--br);
  font-size: var(--fs);
  gap: 2rem;
  color: var(--clr-font);

  img {
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
    border-radius: 50%;
  }

  &:hover {
    background-color: var(--clr-light);
  }

  &:focus {
    outline: black;
    border: 0.1rem solid black;
  }

  &.clicked {
    background-color: g.$clr-primary;
    color: var(--clr-light);
    border-color: g.$clr-primary-dark;

    + .nav__items--sub {
      display: flex;
    }
  }
}


