@use "../util/" as u;
@use "../globals/" as g;

.tab {
  &s {
    &__container {
      margin-top: 4.5rem;
      position: relative;
      height: fit-content;
      margin-inline: 0.5rem;
      border-radius: var(--br);
      border: var(--border);
      border-width: 0.2rem;
      border-color: g.$clr-bg;
      box-shadow: var(--div-shadow);
    }
  }
  &__trigger {
    &s {
      display: flex;
      flex-direction: column;
      @include u.breakpoint(md) {
        position: absolute;
        flex-direction: row;
        left: 1rem;
        top: -4rem;
        z-index: 1;
        gap: 0.5rem;
        height: 4rem;
      }
    }
    min-width: fit-content;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs);
    color: var(--clr-font);
    text-transform: uppercase;
    border: var(--border);
    background-color: var(--clr-light);
    border-color: var(--clr-bg);
    cursor: pointer;
    @include u.breakpoint(md) {
      border-top-right-radius: 0.3rem;
      border-top-left-radius: 0.3rem;
      transform: translateY(-0.2rem);
      transition: 0.3s ease-in-out transform;
    }
    &.active {
      background-color: var(--clr-bg);
      color: var(--clr-dark);
      @include u.breakpoint(md) {
        border-bottom: 0rem;
        transform: translateY(0);
      }
    }
  }

  &__panel {
    &s {
      height: 100%;
      display: block;
    }
    min-height: 100%;
    padding: 2rem;
    background-color: var(--clr-light);
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: var(--br);
    transition:
      transform 0.4s ease-in-out,
      opacity 0.4s ease-in-out;
  }
}
