@use "../util/" as u;
@use "../globals/" as g;

.table__container {
  position: relative;
  margin-top: 2rem;
  height: fit-content;
  display: flex;
  max-width: 95vw;
  margin-inline: auto;
  justify-content: start;
  flex-direction: column;

  select {
    max-width: unset;
    width: fit-content;
  }
  & .pagination__container {
    border-radius: unset;
    border-bottom-left-radius: var(--br);
    border-bottom-right-radius: var(--br);
  }
}

.table__img__preview {
    max-width: 10rem;
    max-height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border);
    border-radius: var(--br);
    box-shadow: var(--div-shadow);
  &.rounded{
    width: 10rem;
    height: 10rem;
       aspect-ratio: 1 / 1;
    border-radius: 50%;
    img{
      border-radius: 50%;
    }
  }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform 0.3s ease-in-out; // Smooth hover effect

      &:hover {
        transform: scale(1.05); // Slightly enlarge on hover
      }
    }
  
}

.table__filters {
  background-color: var(--clr-bg-light);
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden;

  &.open {
    opacity: 1;
    padding: 1rem;
    overflow: visible;
    max-height: fit-content;
    border: var(--border);
    border-top: unset;
  }

  > .form__container {
    box-shadow: var(--div-shadow);
  }
}
.table__form {
  background-color: var(--clr-bg-light);
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  &.open {
    opacity: 1;
    padding: 1rem;
    overflow: visible;
    max-height: fit-content;
    border: var(--border);
    border-top: unset;
  }

  > .form__container {
    box-shadow: var(--div-shadow);
  }
}

.table__header__actions {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: unset;

  @include u.breakpoint(md) {
    & {
      margin-left: auto;
    }
  }
  gap: 0.5rem;
}

.table {
  margin: 0 auto;
  padding: 0;
  min-width: 100%;
  border-collapse: collapse;
  thead {
    z-index: 2;
    position: sticky;
    top: 0;
    left: 0;
  }
   tr {
    background-color: var(--clr-light);
    &:last-of-type {
      .toolTip {
        bottom: unset;
        top: -95%;
      }
      td:last-of-type {
        border-bottom-right-radius: var(--br);
      }
    }

    &:nth-child(even) {
      background-color: g.$clr-bg-light;
    }
    &:hover {
      background-color: g.$clr-bg-light;
    }
  }

   th,
   td {
    color: var(--clr-font);
    font-size: var(--fs);
    text-align: left;
    height: 5rem;
    //  overflow: hidden;
    white-space: nowrap;
    // text-overflow: ellipsis;
    & > div {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: center;
    }
  }
   td {
    font-size: var(--fs);
    transition: color 0.3s ease-in-out;
    padding: 0.5rem 1rem;
    &.danger{
      background-color: var(--clr-danger);
      font-weight: bold;
      color:var(--clr-light);
    }
    &.success{
      background-color: var(--clr-success);
      font-weight: bold;
      color:var(--clr-dark);
    }
    &.warning{
      background-color: var(--clr-warning);
     
      font-weight: bold;
      color:var(--clr-dark);
    }
  }
   th {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background-color: g.$clr-primary;
    color: var(--clr-light);
    & > div {
      padding: 0.5rem 1rem;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 2rem;
      justify-content: space-between;
    }
  }
}



.table__header {
  position: relative;
  height: fit-content;
  display: flex;
  gap: 2rem;
  padding: 1rem;
  align-items: center;
  border-top-left-radius: var(--br);
  border-top-right-radius: var(--br);
  background-color: var(--clr-light);
  border: var(--border);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  flex-direction: row;
  justify-content: space-between;
  h3 {
    display: none;

    @include u.breakpoint(md) {
      & {
        display: block;
      }
    }
  }
}

.table__body {
  position: relative;
  max-height: 80vh;
  overflow: auto;
  border:var(--border);
  border-bottom:unset;
  border-top: unset;
}

.table__footer {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background-color: var(--clr-light);
  border: var(--border);
  border-bottom-left-radius: var(--br);
  border-bottom-right-radius: var(--br);
  min-height: 5rem;
  padding: 1rem;
  bottom: 0;
  left: 0;
}
