@use "../util/" as u;
@use "../globals/" as g;


// =========================
// SECTION
// =========================
.section {
  padding: 1rem;
  border-bottom: 1px solid #e3e3e3;
  background-color: g.$clr-bg-light;
  border-radius: var(--br);
  max-width: 102.4rem;
  height: fit-content;
  margin-inline: auto;

  @include u.breakpoint(md) {
    width: 102.4rem;
  }
  &:last-of-type {
    border-bottom: none;
  }

  // Titles
  h1, h2 {
    margin-bottom: 1.2rem;
    font-weight: 600;
    line-height: 1.3;
  }

  h2 {
    font-size: 2rem;
    position: relative;
    padding-bottom: 0.4rem;
    &::after {
      content: "";
      width: 6rem;
      height: 2px;
      background: g.$clr-primary;
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 4px;
    }
  }

  // Paragraphs
  p {
    font-size: 1.6rem;
    max-width: 95ch;
    line-height: 1.7;
    margin-bottom: 1rem;
  }

  // Lists
  ul {
    padding-left: 1.8rem;
    margin-bottom: 1.2rem;
    line-height: 1.7;

    li {
      font-size: 1.6rem;
      margin-bottom: 0.6rem;
    }
  }

  // Tables
  table {
    min-width: fit-content;
  }


}