@use "../util/" as u;
@use "../globals/" as g;

.sidebar {
  position: fixed;
  top: 5.6rem;
  left: 0;
  width: 27rem;
  background-color: var(--clr-light);
  z-index: 5;
  height: calc(100vh - 5.6rem);
  border: var(--border);
  border-left: 0;
  transform: translateX(-110%);
  transition: transform 0.5s ease-in-out;
  box-shadow: var(--div-shadow);
  a,
  a:focus,
  a:hover {
    text-decoration: none;
  }
  &.open {
    transform: translateX(0);
  }

  &__items {
    display: flex;
    flex-direction: column;
    border-bottom: var(--border);
    gap: 0.5rem;
    padding: 0.5rem;
  }
}
.sidebar__btn {
  width: 4rem;
  height: 4rem;
  background-color: var(--clr-light);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  &:hover {
    span {
      color: g.$clr-primary-dark;
    }
  }
  & span {
    color: g.$clr-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    transform-origin: center;
    transform: rotate(0);
    transition: transform 0.6s ease-in-out;
    font-size: 2.5rem;
  }

  &.clicked {
    > span {
      transform: rotate(360deg);
    }
  }

  &--phone {
    position: fixed;
    display: flex;
    top: 1rem;
    left: 1rem;

    border-radius: 50%;
    z-index: 5;
    margin-left: 1rem;

    box-shadow: var(--div-shadow);
    @include u.breakpoint(md) {
      display: none;
    }
  }
}
.sidebar__item {
  &.active {
    background-color: g.$clr-primary;
    color: var(--clr-light);
    & a {
      color: var(--clr-light);
    }
  }
  color: var(--clr-font);
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs);
  cursor: pointer;
  border-radius: var(--br);
  &:hover {
    background-color: g.$clr-bg-light;
    & a {
      color: var(--clr-font);
    }
  }
  & a {
    padding: 0 1rem;
    text-decoration: none;
    color: var(--clr-font);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &:focus {
      border: 0.2rem solid g.$clr-primary;
      border-radius: var(--br);
    }
  }

  span:first-of-type {
    margin-left: auto;
    margin-right: 1rem;
  }
}
